.home {
    position:absolute;
    background-image: url("main_background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow: hidden;
    top:0px;
    left:0;
    margin:0;
}
.contact {
    position:absolute;
    background-image: url("contact.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow: hidden;
    top:0px;
    left:0;
    margin:0;
}
.rest {
    position:absolute;
    background-image:url("early.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow-y:auto;
    top:0px;
    left:0;
    margin:0;
}
.rest_1{
    position:absolute;
    background-image:url("career.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow-y:auto;
    top:0px;
    left:0;
    margin:0;
}
.rest_2{
    position:absolute;
    background-image:url("life.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow-y:auto;
    top:0px;
    left:0;
    margin:0;
}

.rest_3{
    position:absolute;
    background-image:url("income.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    overflow-y:auto;
    top:0px;
    left:0;
    margin:0;
}

.title {
    color:white;
    margin:0;
    display:inline-block;
    width:50%;
}
p {
    color:white;
}
.header {
    display:block;
    width:100%;
    height:12vh;
    background-color:rgba(211, 243, 174, 0.24);
    padding-top:1%;
    text-align:center;
    position:fixed;
}
.contact .header {
    background-color:rgba(255,255,255,0.24);
}
.rest_1 .header {
    background-color:rgba(255,255,255,0.24);
}
.rest_3 .header {
    background-color:rgba(255,255,255,0.24);
}
.rest_2 .header {
    background-color: rgba(0,0,0,0.24);
}
.rest .header {
    background-color: rgba(0,0,0,0.24);
}
.menu {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    display:inline;
    text-align:center;
}
.menu_item {
    display:inline-block;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    text-decoration:none;
    margin-left:0;
    margin-right:0;
    height:auto;
    padding-top:10px;
    padding-bottom:10px;
    font-size:40px;
    background-color:transparent;
    color:white;
}
.menu_item:hover {
    color:#249dd1;
    background-color:white;
    border-radius:5px;
}
.contact .menu_item:hover {
    color:black;
}
.rest .menu_item:hover {
    color:black;
}
.rest_1 .menu_item:hover {
    color:black;
}
.rest_2 .menu_item:hover {
    color:black;
}
.rest_3 .menu_item:hover {
    color:black;
}

.content {
    display:block;
    width:80%;
    height:60%;
    margin-top:175px;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(255, 255, 255, 0.24);
    text-align:center;
}
.information {
    top:110%;
    position: absolute;
    width:100%;
    height:80%;
    display:inline;
}
.content_menu {
    display:inline;
}
.text_area {
    display:inline;
    position:absolute;
    left:15%;
    width:75%;
    top:25px;
    overflow-y:auto;
    border-left:1px solid black;
    height:80%;
    padding-right:20px;
}
.rest_1 .text_area {
    left:17%;
}
.rest_2 .text_area {
    left:18%;
}
.text_area p {
    font-size:20px;
    color:black;
    margin-top:25px;
    margin-left:80px;
    margin-bottom:50px;
}
.text_area h2 {
    color:black;
    margin-top:25px;
    margin-left:80px;
}
.content_menu_item {
    font-size:30px;
    color:black;
    text-decoration:none;
    display:block;
    width:120px;
    margin-left:40px;
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    transition: all 0.3s ease-in-out;
}
.rest_1 .content_menu_item {
    font-size:25px;
}
.content_menu_item:hover {
    transform: scale(1.1);
}
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.text_area::-webkit-scrollbar-thumb:hover {
    background: black;
}
.text_area::-webkit-scrollbar-track {
    background: rgb(156, 153, 153);
}
  
.text_area::-webkit-scrollbar-thumb {
    background:rgb(75, 74, 74);
}